.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: map-get($colors, "gray-900");
  font-weight: 600;
  font-size: map-get($font-sizes, "base");
  padding: 0.6rem 1rem;
  border-radius: 0.75rem;
  transition: 0.2s;

  &:is(&--active, :hover) {
    color: map-get($colors, "primary");
    background-color: #e8effb;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  &__text {
    font-size: 1.1rem;
    white-space: nowrap;
  }
}
