@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary */
    --primary: 231 78% 58%;
    --primary-light: #556ae2;
    --primary-foreground: #fafafa;

    --highlight: #80bfff;

    /* Gray */
    --gray-900: #263446;
    --gray-800: #565b5f;
    --gray-700: #80889e;
    --gray-600: #aeb3c1;
    --gray-500: #dbdde6;
    --gray-400: #e9eaed;
    --gray-300: #f3f4f7;
    --gray-200: #f9fafb;
    --gray-100: #fafafb;

    --success: 154 45% 50%;

    /* Appointments */
    --appointment-finished-bg: #f1f7ec;
    --appointment-finished-icon-bg: #6dac42;
    --appointment-finished-treatment-type-border: #c3e1b0;
    --appointment-upcoming-bg: #e9f5fc;
    --appointment-upcoming-icon-bg: #4ca3e5;
    --appointment-upcoming-treatment-type-border: #a2cff0;
    --appointment-finished-not-paid-bg: #fcebf1;
    --appointment-finished-not-paid-icon-bg: #e65889;
    --appointment-finished-not-paid-treatment-type-border: #e65889;
    --appointment-status-finished-bg: #46b988;
    --appointment-status-encounter-bg: #f0c75e;
    --appointment-status-registered-bg: #a0a0a0;

    /* Foreground, background */
    --background: 0, 0%, 100%;
    --foreground: var(--gray-900);

    /* Muted */
    --muted: #f5f6fa;
    --muted-foreground: var(--gray-600);

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: #e8effb;
    --accent-foreground: var(--foreground);
    --destructive: #e65889;
    --destructive-light: #ea6290;
    --destructive-foreground: 0 0 100%;
    --error: 3 79% 56%;
    --input: var(--gray-400);
    --input-invalid: 3 100% 95%;
    --border: var(--gray-400);
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    /* Probably won't exist */
  }
}

@layer base {
  body {
    @apply text-gray-900;
  }
}

@keyframes modal-first-open {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes modal-first-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes modal-nested-open {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(-26%);
  }
}

@keyframes modal-nested-close {
  from {
    opacity: 1;
    transform: translateX(-26%);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}
