$sidebarPaddingTop: 1rem;
$sidebarLogoHeight: 4rem;
$mainContentPaddingInline: 2rem;

.navbar {
  height: $sidebarPaddingTop + $sidebarLogoHeight;
  padding-inline: $mainContentPaddingInline;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid map-get($colors, "gray-400");

  &__page-name {
    font-size: 2rem;
    font-weight: bold;
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
