.sidebar {
  &__container {
    padding: 1rem;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__dashboard-link {
    margin-bottom: 1.5rem;
  }

  &__link-group {
    margin-bottom: 1.5rem;
    &--physical {
      margin-bottom: 0.5rem;
    }
  }

  &__link-divider {
    height: 1px;
    width: 100%;
    background-color: map-get($colors, "gray-400");
    margin-bottom: 0.5rem;
  }
}
